block config
    include config

include ./mixins/cards
include ./mixins/buttons    

doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= `${pageTitle} | ${siteName}`
        meta(name="description", content= metaDescription) 
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/swiper.min.css")
        link(rel="stylesheet", href="css/styles.css")      
    body.main-container
        .top-container
            .image
                block image
            .information
                block content
        .controls
            +button_date
        .body-container    
            .swiper-container
                .swiper-pagination
                .swiper-wrapper
                
                    block cards
        script(
			  src="https://code.jquery.com/jquery-3.4.1.js",
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=",
			  crossorigin="anonymous")
        script.
            $(document).on('click', 'div button', function(){
                $(this).addClass('active').siblings().removeClass('active')                
            })
            $(document).on('click', '.slide-250', function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
        script(src="js/swiper.min.js")
        script(src="js/script.js")
            
    
