mixin card(plan, percent= ' ', price, priceDiscount, mes, item1, item2, item3, item4, item5)
    .swiper-slide
        article#mobile_card.card
            .card__head    
                h2.card__title PREMIUM 
                .plan__info
                    span.plan Plan
                    .type_plan= plan
                span.save= percent
                .card__subhead
                    span.symbolPrice $
                    span.priceNumber= price
                    span.symbolPrice  USD 
                    //- Modificar el .discount al igual que USD
                    .container_discount
                        .discount= priceDiscount 
                        span.date= mes
            
            .card__body
                p.benefits beneficios
                    ul.card__body
                        block list_items
                            li.li.card__item= item1
                            li.li.card__item= item2
                            li.li.card__item= item3
                        

            .card__bottom
                +button_pays



    
